/* Cores */
:root {
  --bg: #fbfbfb;
  --bg-footer: #252525;
  --bg-botao: #d1b283;
  --bg-botao-hover: #ad9a7e;
  --corpo-texto-escuro: #181818;
  --corpo-texto-claro: #e6e6e6;
  --detalhe-texto: #7d8ca4;
  --detalhe-pagina: #d4dcf6;
  --input: #d1d1d1;
}

.corpo-texto-escuro {
  color: var(--corpo-texto-escuro);
}

.corpo-texto-claro {
  color: var(--corpo-texto-claro);
}

.detalhe-texto {
  color: var(--detalhe-texto);
}

/* Nessa  página temos a definição de cores no nosso "root" ou seja, elemento máximo do nosso HTML, abaixo foi criado alguns estilos de cores de texto para algumas classes para evitar coloca-las diretamente nos css das páginas e ser de mais fácil manutenção caso haja necessidade de mudar as cores do site.*/
