/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Montserrat:wght@400;500&display=swap");

.fonte-logo {
  font: 400 32px/1.2 "Julius Sans One", sans-serif;
}

.fonte-titulo {
  font: 500 64px/1.2 "Montserrat", sans-serif;
}

.fonte-corpo {
  font: 400 32px/1.2 "Montserrat", sans-serif;
}

.fonte-sub-titulo {
  font: 500 24px/1.2 "Montserrat", sans-serif;
}

.fonte-menu {
  font: 500 24px/1.2 "Montserrat", sans-serif;
}

.fonte-preco {
  font: 500 20px/1.2 "Montserrat", sans-serif;
}

.fonte-titulo-h2 {
  font: 500 48px/1.2 "Montserrat", sans-serif;
}
/* Nessa página temos o import das fontes na linha 2, abaixo temos alguns padrões definidos para logo, título, corpo de texto, fonte dos produtos, menu e para o preço também. Nesses atributo "font" nós passamos os valores de font: peso tamanho/altura de linha 'nome da fonte', fonte secundária caso a primeira não carregue */
