.titulo-equipe {
  margin-bottom: 40px;
  margin-top: 220px;
  text-align: start;
}

.equipe {
  display: flex;
  gap: 48px;
  margin-bottom: 100px;
}

.imagem-equipe {
  height: 400px;
}

.titulo-nome {
  margin-bottom: 10px;
}

.paragrafo-equipe {
  text-align: left;
  margin-top: 20px;
}
