.titulo-sobre {
    text-align: start;
    margin-top: 220px;
    margin-bottom: 40px;
}
/* classe titulo-sobre para fazer com que o titulo comece pelo lado esquerdo e tenha tanto um margin que a separe do topo e outro para separar da section. */
.sobre {
    display: flex;
    margin-bottom: 100px;
    gap: 48px;
} 
/*Coloquei um margin botton para dar espaço entre cada section, também usei display flex para fazer com que os elementos ficassem alinhados na horizontal e dei um gap para separar os elementos dentro da section*/
 .imagem-sobre {
    height: 400px;
}
 /*Ajustei as imagens para ficar mais proximo do prototipo figma*/

.paragrafo-sobre {
    text-align: left;
    margin-top: 30px;
}
/* Ajustei o alinhamento dos paragrafos para a esquerda e dei um margin-top para ter um espaço entre o  titulo em h2*/