/*Body----------------------------------------------*/

/*Header------------------------------------------------------*/

/*Main--------------------------------------------------------*/
.pgmain {
    background-color: #fbfbfb;
    width: 75rem; 
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
.sobre {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.imagem-sobre {
    width: 250px;
    box-shadow: 10px 9px 0px 0px #D1B283;
}
.titulo-sobre {
    text-align: start;
    font-size: 3.5rem;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
}
.titulo2{
    font-size: 3rem;
}
.paragrafo {
    font-size: 2rem;
    text-align: justify;
}