/* CSS Produtos */
.titulo-produtos {
  margin-bottom: 40px;
}
.produtos {
  display: flex;
  gap: 60px;
}

.produto-item {
  display: flex;
  flex-direction: column;
}

.produto-botoes {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
}

.produto-botoes a {
  background: orange;
  padding: 4px 8px;
  border-radius: 4px;
}

.produto-botoes a:nth-child(3) {
  width: 25%;
  height: 100%;
  text-align: center;
}