/* Produtos */
.titulo-produtos {
  margin-bottom: 40px;
}

.titulo-produtos span {
  color: var(--detalhe-pagina);
}

.produtos {
  display: flex;
  gap: 60px;
}

.produto-item {
  display: flex;
  flex-direction: column;
}

.produto-botoes {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 8px;
}

.produto-botoes button {
  padding: 4px 8px;
  border-radius: 4px;
}

.produto-botoes button:nth-child(3) {
  width: 25%;
  height: 100%;
  text-align: center;
}

/* Aqui foi definido a disposição dos nossos protudos na página, foi utilizado o display flex para conseguir trabalhar com esses itens, e também foi utilizado o seletor "nth-child" para selecionar apenas o terceiro elemento "button" de ".produtos-botoes" e assim evitar criar mais classes atoa. */


/* Header e Footer Provisório */
.prov-header, .prov-footer {
  width: 100%;
  background: var(--bg-footer);
}

.prov-header {
  min-height: 10vh;
}

.prov-footer {
  min-height: 15vh;
}