* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: var(--bg);
  width: 100%;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}

button {
  background: var(--bg-botao);
  border: none;
  cursor: pointer;
  transition: .3s;
}

button:hover {
  background: var(--bg-botao-hover);
  transform: scale(1.1);
}

span {
  color: var(--detalhe-pagina);
}

.container {
  max-width: 1200px;
  min-height: 85vh;
  margin: 60px auto;
}

/* Aqui temos alguns estílos globais e reset que são reutilizado em algumas das páginas que nós temos, como por exemplo "*" para aplicação de estílo em toda a página, ".container" que define o tamamho do nosso conteúdo na página, "img" que trata todas as imagens da nossa página e "button" que define como serão os botões da nossa página.*/
