* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: var(--bg);
  width: 100%;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}

button {
  background: var(--bg-botao);
  border: none;
  cursor: pointer;
  transition: .3s;
}

button:hover {
  background: var(--bg-botao-hover);
  transform: scale(1.1);
}

.container {
  max-width: 1200px;
  min-height: 85vh;
  margin: 60px auto;
}
